from itertools import combinations
from Scoring_values import compute_scoring_values
from itertools import combinations
import math
import math
from itertools import combinations
import csv
import os
import re
import numpy as np
